


.portlet_summary table tbody td.trend .fa-arrow-up {
	color: #0f5;
}
.portlet_summary table tbody td.trend .fa-arrow-right {
	color: #fa0;
}
.portlet_summary table tbody td.trend .fa-arrow-down {
	color: #f05;
}








