

/*
dimension

*/

div.plate_issue div.row.height_x1,
div.plate_portlet div.row.height_x1 {
	height: 250px;
	overflow: hidden;
}
	div.plate_issue div.row.height_x1a,
	div.plate_portlet div.row.height_x1a {
		height: 182px;
		overflow: hidden;
	}
div.plate_issue div.row.height_x2,
div.plate_portlet div.row.height_x2 {
	height: 407px;
	overflow: hidden;
}
div.plate_issue div.row.height_x3,
div.plate_portlet div.row.height_x3 {
	height: 554px;
	overflow: hidden;
}
div.plate_issue div.row.height_x4,
div.plate_portlet div.row.height_x4 {
	height: 634px;
	overflow: hidden;
}
div.plate_issue div.row.height_xx,
div.plate_portlet div.row.height_xx {
	height: 100%;
}

/*temp*/
div.height_x2a {
	height: 240px;
	overflow: hidden;
}


/*
generic
*/

.goto_left {
	text-align: left !important;
}
.goto_center {
	text-align: center !important;
}
.goto_right {
	text-align: right !important;
}


/*
property
*/

div.horizontal_plate div {
	display: inline-block;
	vertical-align: top;
}


/*
color code

*/

/*text color
green, red, red bold*/
.mrt_colorcode_1 {
	color: #9f3;
}
.mrt_colorcode_2 {
	color: #f06;
}
.mrt_colorcode_3 {
	color: #f06;
	font-weight: bold;
}
.mrt_colorcode_4 {
	color: #09f;
}

/*ball
green, ornage, red*/
.mrt_colorcode_ball_1 {
	color: #0f0;
}
.mrt_colorcode_ball_2 {
	color: #fa0;
}
.mrt_colorcode_ball_3 {
	color: #f06;
}

/*bottom bar
green, blue, red*/
.mrt_colorcode_bbar_1 {
	border-bottom: 2px solid #0f0;
}
.mrt_colorcode_bbar_2 {
	border-bottom: 2px solid #09f;
}
.mrt_colorcode_bbar_3 {
	border-bottom: 2px solid #f06;
}


/*
breadcrumb

*/
.custom_breadcrumb {
	padding: 0 5px;
	font-size: .9em;
}
.custom_breadcrumb a {
	text-decoration: none;
	color: #39f;
}
	.custom_breadcrumb a:hover {
		color: #4af;
	}
.breadcrumb_divider {
	padding: 0 10px;
}
div.custom_breadcrumb div.title {
	color: #fff;
	padding: 0 0 5px;
	font-size: 1.5em;
	border-bottom: 1px solid #335;
}


/*
asof

*/

span.plate_asof {
	padding: 0 0 0 10px;
	font-size: .8em;
	color: #fc0;
}


/*
portlet_setup

*/
div.portlet {
	margin: 0;
	padding: 0;
}

div.portlet div.content {
	margin: 5px 5px;
	border: 1px solid #000;
	border-radius: 5px;
}

div.portlet_title {
	padding: 5px 10px;
	font-size: 1em;
	color: #fff;
	background: rgba(255,255,255,.3);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.fa_title_icon {
	padding: 0 10px 0 0;
}

.portlet_content {
}

div#container {
	color: #fff !important;
}
rect.highcharts-background {
	fill: none !important;
}



/*
issue

*/
div.portlet_issue div.content {
	background: #125;
	border: 3px solid #09f;
}
div.portlet_issue div.portlet_content {
	padding: 5px 20px;
}
div.portlet_issue div.portlet_title {
	background: #09f;
	color: #000;
	font-weight: bolder;
	border: 3px solid #09f;
}


/*
mitigation

*/
div.portlet_mitigation div.content {
	background: #125;
	border: 3px solid #09f;
}
div.portlet_mitigation div.portlet_content {
	padding: 5px 20px;
}
div.portlet_mitigation div.portlet_title {
	background: #09f;
	color: #000;
	font-weight: bolder;
	border: 3px solid #09f;
}


/*
info

*/
div.portlet_info div.content {
	background: #252237;
}
div.portlet_info div.portlet_content {
}
	
div.portlet_info div.portlet_title {
	color: #fff;
}

div.portlet_info div.content div.pc_top {
	padding: 0 7px;
	font-size: 1.5em;
	text-align: center;
	border-bottom: 1px solid #669;
}
div.portlet_info div.content div.pc_bottom {
	padding: 7px 7px 0;
}

div.portlet_info div.content span.info_title {
	display: block;
	font-size: 1.5em;
	text-align: center;
}
div.portlet_info div.content span.info_subtitle {
	display: block;
	font-size: 1em;
	text-align: center;
}
div.portlet_info div.pc_top span.info_title,
div.portlet_info div.pc_top span.info_subtitle {
	color: #fff;
}
div.portlet_info div.pc_bottom span.info_title,
div.portlet_info div.pc_bottom span.info_subtitle {
	color: #cac;
}

div.portlet_info span.iv_station {
	margin: 5px 0;
	padding: 2px 10px;
	color: #39f;
}
div.portlet_info span.iv_mspr {
	margin: 5px 0;
	padding: 2px 10px;
	color: #39f;
}
div.portlet_info span.iv_station i,
div.portlet_info span.iv_mspr i {
	padding: 0 10px 0 0;
}

/*pier chart*/
div.portlet_info div.pier_chart {
	position: absolute;
	bottom: 5px;
	right: 10px;
}




/*
progress

*/
div.portlet_progress div.content {
	background: #252237;
}
div.portlet_progress div.portlet_content {
}
div.portlet_progress div.portlet_title {
	color: #fff;
}


/*
generaltable

*/
div.portlet_generaltable div.content {
	background: #252237;
}
div.portlet_generaltable div.portlet_content {
	/*padding: 10px 5px;*/
}
div.portlet_generaltable div.portlet_content table {
	margin: 10px 5px;
}
div.portlet_generaltable div.portlet_title {
	color: #fff;
}

div.portlet_generaltable thead {
	background: #111;
}

div.portlet_generaltable table {
	font-size: .9em;
}

div.portlet_generaltable table .set_center {
	text-align: center;
}

/*theader border*/
div.portlet_generaltable table th {
	border-bottom: 1px solid #000 !important;
	font-weight: normal;
}
div.portlet_generaltable table .col_separation {
	border-right: 2px solid #223;
}

/*tbody border*/
div.portlet_generaltable table tbody td {
	border-bottom: 1px solid #669 !important;
}

/*
keydates

*/
div.portlet_keydates div.content {
	background: #252237;
}
div.portlet_keydates div.portlet_content {
	/*padding: 10px 5px;*/
}
div.portlet_keydates div.portlet_content table{
	margin: 10px 5px;
}
div.portlet_keydates div.portlet_title {
	color: #fff;
}

div.portlet_keydates thead {
	background: #111;
}

div.portlet_keydates table {
	font-size: .9em;
}

div.portlet_keydates table .set_center {
	text-align: center;
}

/*theader border*/
div.portlet_keydates table th {
	border-bottom: 1px solid #000 !important;
	font-weight: normal;
}
div.portlet_keydates table .col_separation {
	border-right: 2px solid #223;
}

/*tbody border*/
div.portlet_keydates table tbody td {
	border-bottom: 1px solid #669 !important;
}


/*
harvest_map

*/
div.portlet_harvest_map div.content {
	background: #252237;
}
div.portlet_harvest_map div.portlet_content {
	/*padding: 10px 5px;*/
}
div.portlet_harvest_map div.portlet_content table{
	margin: 10px 5px;
}
div.portlet_harvest_map div.portlet_title {
	color: #fff;
}

div.portlet_harvest_map thead {
	background: #111;
}

div.portlet_harvest_map table {
	font-size: .9em;
}

div.portlet_harvest_map table .set_center {
	text-align: center;
}

/*theader border*/
div.portlet_harvest_map table th {
	border-bottom: 1px solid #000 !important;
	font-weight: normal;
}
div.portlet_harvest_map table .col_separation {
	border-right: 2px solid #223;
}

/*tbody border*/
div.portlet_harvest_map table tbody td {
	border-bottom: 1px solid #669 !important;
}

/*color block*/

div.portlet_harvest_map table tbody td.col_blk_01 span,
div.portlet_harvest_map table tbody td.col_blk_02 span,
div.portlet_harvest_map table tbody td.col_blk_03 span,
div.portlet_harvest_map table tbody td.col_blk_04 span,
div.portlet_harvest_map table tbody td.col_blk_05 span,
div.portlet_harvest_map table tbody td.col_blk_06 span,
div.portlet_harvest_map table tbody td.col_blk_07 span {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.5em;
	color: #000;
}

div.portlet_harvest_map table tbody td.col_blk_01 span {
	background: #f03;
}
div.portlet_harvest_map table tbody td.col_blk_02 span {
	background: #88c;
}
div.portlet_harvest_map table tbody td.col_blk_03 span {
	background: #f90;
}
div.portlet_harvest_map table tbody td.col_blk_04 span {
	background: #ff0;
}
div.portlet_harvest_map table tbody td.col_blk_05 span {
	background: #0cf;
}
div.portlet_harvest_map table tbody td.col_blk_06 span {
	background: #3c9;
}
div.portlet_harvest_map table tbody td.col_blk_07 span {
	background: #fff;
}


/*
ffb_details

*/
div.portlet_ffb_details div.content {
	background: #252237;
}
div.portlet_ffb_details div.portlet_content {
	/*padding: 10px 5px;*/
}
div.portlet_ffb_details div.portlet_content table{
	margin: 10px 5px;
}
div.portlet_ffb_details div.portlet_title {
	color: #fff;
}

div.portlet_ffb_details thead {
	background: #111;
}

div.portlet_ffb_details table {
	font-size: .9em;
}

div.portlet_ffb_details table .set_center {
	text-align: center;
}

/*theader border*/
div.portlet_ffb_details table th {
	border-bottom: 1px solid #000 !important;
	font-weight: normal;
}
div.portlet_ffb_details table .col_separation {
	border-right: 2px solid #223;
}

/*tbody border*/
div.portlet_ffb_details table tbody td {
	border-bottom: 1px solid #669 !important;
}

/*color block*/

div.portlet_ffb_details table tbody td.col_blk_01 span {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.5em;
	color: #fff;
	background: #f40;
}


/*
kpi

*/
div.portlet_kpi div.content {
	background: #252237;
}
div.portlet_kpi div.portlet_content {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.portlet_kpi div.portlet_title {
	color: #fff;
}

div.portlet_kpi div.halfdonut span {
	display: block;
	border-top: 1px solid #669;
	text-align: center;
}


/*
project timeline

*/
div.portlet_projecttimeline div.content {
	background: #252237;
}
div.portlet_projecttimeline div.portlet_content {
	/*padding: 10px 5px;*/
}
div.portlet_projecttimeline div.portlet_content table {
	margin: 10px 5px;
}
div.portlet_projecttimeline div.portlet_title {
	color: #fff;
}

div.portlet_projecttimeline thead {
	background: #111;
}

div.portlet_projecttimeline table {
	font-size: .9em;
}

div.portlet_projecttimeline table .set_center {
	text-align: center;
}

/*theader border*/
div.portlet_projecttimeline table th {
	border-bottom: 1px solid #000 !important;
	font-weight: normal;
}
div.portlet_projecttimeline table .col_separation {
	border-right: 2px solid #223;
}

/*tbody border*/
div.portlet_projecttimeline table tbody td {
	border-bottom: 1px solid #669 !important;
}


div.portlet_projecttimeline div.dayleft,
div.portlet_projecttimeline div.startdate,
div.portlet_projecttimeline div.variance {
	width: 100%;
	margin: 10px;
}
div.portlet_projecttimeline div.dayleft > span {
	display: block;
}
div.portlet_projecttimeline div.startdate > span,
div.portlet_projecttimeline div.variance > span {
	display: inline-block;
	width: 45%;
}

div.portlet_projecttimeline div.dayleft .figure {
	font-size: 3em;
}
div.portlet_projecttimeline div.dayleft .text {
	font-size: 1.5em;
	border-bottom: 1px dashed #449;
}

div.portlet_projecttimeline .startdate span.figure.mrt_colorcode_1,
div.portlet_projecttimeline .variance span.figure.mrt_colorcode_1 {
	border-left: 5px solid #99cc33;
}
div.portlet_projecttimeline .startdate span.figure.mrt_colorcode_2,
div.portlet_projecttimeline .variance span.figure.mrt_colorcode_2 {
	border-left: 5px solid #ff0055;
}


/*
images

*/
div.portlet_images div.content {
	background: #252237;
}
div.portlet_images div.portlet_content {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.portlet_images div.portlet_title {
	color: #fff;
}

div.portlet_images div.halfdonut span {
	display: block;
	border-top: 1px solid #669;
	text-align: center;
}

div.portlet_images .portlet_images span {
	width: 140px;
	height: 150px;
	padding: 3px;
	margin: 3px;
	display: inline-block;
	background: #111;
	vertical-align: top;
	
}
div.portlet_images .portlet_images span > img {
	width: 100%;
}


/*
scurve

*/

div.portlet_scurve div.content {
	background: #252237;
}

div.portlet_scurve_data div.row div.item {
	padding: 3px;
}

span.item_title {
	display: block;
	font-size: .8em;
	color: #ddf;
}
	span.item_title_variance {
		display: block;
		font-size: .8em;
		color: #aaa;
	}

span.item_value {
	display: block;
	font-size: 1em;
	color: #fff;
}

div.psd_data_type1 {
	padding: 5px 10px !important;
	background: rgba(255,255,255,.1);
}
div.psd_data_type2 {
	padding: 5px 10px !important;
	background: rgba(255,255,255,.15);
}

span.iv_totalpaid {
	padding: 0 0 0 5px;
	border-left: 3px solid #ffff00;
}
span.iv_low {
	padding: 0 0 0 5px;
	border-left: 3px solid #ff0055;
}
span.iv_actual {
	padding: 0 0 0 5px;
	border-left: 3px solid #00ff55;
}
span.iv_high {
	padding: 0 0 0 5px;
	border-left: 3px solid #00aaff;
}
span.iv_low_variance {
	padding: 0 0 0 10px;
	border-left: 3px solid #ff0055;
}
span.iv_high_variance {
	padding: 0 0 0 10px;
	border-left: 3px solid #9c0;
}

span.iv_baseline {
	padding: 0 0 0 5px;
	border-left: 3px solid #0ff;
}
span.iv_kpitarget {
	padding: 0 0 0 5px;
	border-left: 3px solid #b7f;
}
span.iv_shortfall {
	padding: 0 0 0 5px;
	border-left: 3px solid #ff0;
}
span.iv_actualprogress {
	padding: 0 0 0 5px;
	border-left: 3px solid #f60;
}
span.iv_totalffb {
	padding: 0 0 0 5px;
	border-left: 3px solid #0f5;
}
span.iv_totalpaid {
	padding: 0 0 0 5px;
	border-left: 3px solid #ff0;
}

span.scurve_arrow {
	padding: 0 5px;
	font-size: 1.2em;
	display: block;
	position: absolute;
	top: 9px;
	right: 12px;
	border-radius: 5px;
	background: #113;
}
	span.scurve_arrow_up {
		color: #9f3;
	}
	span.scurve_arrow_down {
		color: #f06;
	}


/*override*/

div.portlet_scurve_graph {
	height: 100%;
}


/*
summary

*/
div.portlet_summary div.content {
	background: #252237;
}
div.portlet_summary div.portlet_content {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.portlet_summary div.portlet_title {
	color: #fff;
}

div.portlet_summary table {
	font-size: .9em;
}

div.portlet_summary table thead {
	background: #000;
	vertical-align: top;
}

/*theader border*/
div.portlet_summary table th {
	border-bottom: 1px solid #000 !important;
	font-weight: normal;
	text-align: center;
}
div.portlet_summary table th.mrt_colorcode_bbar_1 {
	border-left: 2px solid #223;
	border-right: 2px solid #223;
	background: rgba(255,255,255,.1);
	border-bottom: 2px solid #0f0 !important;
}
div.portlet_summary table th.mrt_colorcode_bbar_2 {
	border-left: 2px solid #223;
	border-right: 2px solid #223;
	background: rgba(255,255,255,.1);
	border-bottom: 2px solid #09f !important;
}
div.portlet_summary table th.mrt_colorcode_bbar_3 {
	border-left: 2px solid #223;
	border-right: 2px solid #223;
	background: rgba(255,255,255,.1);
	border-bottom: 2px solid #f06 !important;
}
div.portlet_summary table .col_separation {
	border-right: 2px solid #223;
}

/*tbody border*/
div.portlet_summary table tbody td {
	border-bottom: 1px solid #669 !important;
}

/*value color*/
div.portlet_summary table td.val_checkbox,
div.portlet_summary table td.val_early,
div.portlet_summary table td.val_late,
div.portlet_summary table td.val_actual,
div.portlet_summary table td.val_varearly,
div.portlet_summary table td.val_varlate,
div.portlet_summary table td.ball_indicator {
	text-align: center;
}




div.portlet_summary table td.val_early,
div.portlet_summary table td.val_varearly {
	color: #0f0;
}
div.portlet_summary table td.val_late,
div.portlet_summary table td.val_varlate {
	color: #09f;
}
div.portlet_summary table td.val_actual {
	color: #f06;
}

/*button*/
div.portlet_summary div.theader_button {
	text-align: right;
	padding: 0 0 10px;
}



/*
comparison

*/

/*main frame*/
div.portlet_comparison > div.content {
	background: #222 !important;
	border-left: 3px solid #669;
	border-top-left-radius: 3px;;
}

div.portlet_comparison > div.content > div.portlet_title {
	background: #669 !important;
	color: #fff;
}

/*portlet inside main frame*/
div.portlet_comparison div.content {
	background: #252237;
	border: 1px solid #111;
}
div.portlet_comparison div.portlet_content {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.portlet_comparison div.portlet_title {
	color: #fff;
}

div.portlet_comparison div.halfdonut span {
	display: block;
	border-top: 1px solid #669;
	text-align: center;
}



/*
pierchart

*/

/*general*/
div.portlet_pierchart div.content {
	background: #252237;
}
div.portlet_pierchart div.portlet_content {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.portlet_pierchart div.portlet_title {
	color: #fff;
}

div.portlet_pierchart div.halfdonut span {
	display: block;
	border-top: 1px solid #669;
	text-align: center;
}

div.portlet_pierchart div.chart_pierchart {
	margin-top: 10px;
	margin-bottom: 5px;
}

div.portlet_pierchart div.legend_pierchart span {
	display: inline-block;
	padding: 0 20px 0 0;
}
div.portlet_pierchart div.legend_pierchart .brick {
	width: 30px;
	height: 10px;
	margin: 0 10px 0 0;
}

div.legend_pierchart .brick1 {
	background: #999;
}
div.legend_pierchart .brick2 {
	background: #f50;
}
div.legend_pierchart .brick3 {
	background: #0f0;
}
div.legend_pierchart .delay_mark {
	border-left: 2px solid rgba(255,0,100,1);
	border-right: 2px solid rgba(255,0,100,1);
	border-bottom: 4px solid rgba(255,0,100,1);
}

div.legend_pierchart .legend_station {
	display: block;
	width: 55px !important;
	height: 5px;
	border-bottom: 6px solid #0ff;
}
div.legend_pierchart .legend_special_span {
	display: block;
	width: 55px !important;
	height: 5px;
	border-bottom: 6px dotted #a0f;
}


/*marker a*/
div.pier_block div.marker_a {
	/*display: none;*/
	height: 50px;
	border-top: 3px solid rgba(0,0,0,.5);
}


/*marker b*/
div.pier_block div.marker_b {
	/*display: none;*/
	height: 13px;
}


/*pier block*/

div.portlet_pierchart div.pier_block {
	display: inline-block;
	/*background: rgba(255,255,255,.05);*/
	font-size: .8em;
	height: 250px;
}

div.portlet_pierchart div.pier_block_type_a {
	width: 115px;
	margin-top: 5px;
}


/*z-index*/
div.pier_block div.marker_a span.content,
div.pier_block div.marker_b span.content,
div.pier_block div.span span.content,
div.pier_block div.pier span.content,
div.pier_block div.pier_id span.content,
div.marker_d span.content {
	z-index: 10;
}


/*pier default color*/

path.a_pile,
path.a_pilecap,
path.a_pier,
path.a_pierhead,
path.b_pile,
path.b_pilecap,
path.b_pier,
path.b_pierhead,
path.c_pierhead {
	stroke:#000;
	stroke-width:1;
	stroke-opacity:0;
}

/*span default color*/

path.a_parapet,
path.b_parapet,
path.c_parapet {
	stroke:#0f0;
	stroke-width:1px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:0
}
path.a_parapet {
	fill:#0f0;
	fill-opacity:1;
}
path.b_parapet {
	fill:#0f0;
	fill-opacity:1;
}
path.c_parapet {
	fill:#0f0;
	fill-opacity:1;
}

path.a_span,
path.b_span,
path.c_span,
path.x_span {
	stroke:#0f0;
	stroke-width:1px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:0
}
path.a_span {
	fill:#0f0;
	fill-opacity:1;
}
path.b_span {
	fill:#0f0;
	fill-opacity:1;
}
path.c_span {
	fill:#0f0;
	fill-opacity:1;
}
path.x_span {
	fill:#0f0;
	fill-opacity:1;
}

/*pier id name single*/
div.pier_id span.content.single {
	margin-left: 70px;
	margin-top: -10px;
	width: 100px;
	display: block;
	position: absolute;
}
div.pier_id span.content.single > span {
	display: block;
	padding: 3px 0;
}
div.pier_id span.content.single > span.name1 {
	text-align: center;
}
div.pier_id span.content.single > span > span.id_plate {
	background: #205;
	padding: 2px 5px;
}

/*pier id name twin*/
div.pier_id span.content.twin {
	margin-left: 68px;
	margin-top: -10px;
	width: 105px;
	display: block;
	position: absolute;
}
div.pier_id span.content.twin > span {
	display: block;
	padding: 3px 0;
}
div.pier_id span.content.twin > span.name1 {
	margin-top: -7px;
	text-align: left;
}
div.pier_id span.content.twin > span.name2 {
	margin-top: -5px;
	text-align: right;
}
div.pier_id span.content.twin > span > span.id_plate {
	background: #205;
	padding: 2px 5px;
}


/*button*/

div.marker_d span.content {
	margin-left: 70px;
	margin-top: 25px;
	width: 100px;
	display: block;
	position: absolute;
	text-align: center;
}
div.marker_d span.content button {
}



/*highlight*/

.highlight_normal,
.highlight_notice,
.highlight_alert,
.highlight_critical,
.highlight_null {
	/*display: none;*/
	margin-top: -25px;
	margin-left: 64px;
	position: absolute;
	width: 113px;
	height: 80px;
}
.highlight_null {
	border-left: 1px solid rgba(255,255,255,1);
	border-right: 1px solid rgba(255,255,255,1);
	border-bottom: 1px solid rgba(255,255,255,1);
}
.highlight_normal {
	border-left: 1px solid rgba(0,0,0,0);
	border-right: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0);
}
.highlight_notice {
	border-left: 1px solid rgba(255,255,0,.2);
	border-right: 1px solid rgba(255,255,0,.2);
	border-bottom: 1px solid rgba(255,255,0,.2);
}
.highlight_alert {
	border-left: 1px solid rgba(255,100,0,.5);
	border-right: 1px solid rgba(255,100,0,.5);
	border-bottom: 1px solid rgba(255,100,0,.5);
}
.highlight_critical {
	border-left: 2px solid rgba(255,0,100,1);
	border-right: 2px solid rgba(255,0,100,1);
	border-bottom: 4px solid rgba(255,0,100,1);
}



/*marker a & b*/
span.content.station {
	position: absolute;
	display: block;
	margin-left: 55px;
	width: 120px;
	height: 5px;
	border-top: 6px solid #0ff;
}
span.content.special_span {
	position: absolute;
	display: block;
	width: 115px;
	height: 5px;
	border-top: 6px dotted #a0f;
}

span.content.station_title,
span.content.special_span_title {
	position: absolute;
	display: block;
	margin-top: 7px;
	margin-left: 55px;
	padding: 2px 10px;
	vertical-align: text-bottom;
}
	span.content.station_title {
		background: rgba(0,255,2565,.2);
	}
	span.content.special_span_title {
		background: rgba(255,0,2565,.2);
	}



/*
single donut

*/

div.url_donut_system {
	background: #334;
}
div.svg_donut_system {
	text-align: left;
}

.donut_plate {
	margin: 25px;
}






/*=============================================

SBK-S-XX

===============================================
*/


/*
sbks_progress

*/
div.portlet_sbks_progress div.content {
	background: #252237;
}
div.portlet_sbks_progress div.portlet_content {
}
div.portlet_sbks_progress div.portlet_title {
	color: #fff;
}

/*sbk-s-1*/

div.sbks1 .donut span.item_value {
	border: none;
}

div.sbks1 div.svg_chart {
	margin-top: 30px;
}
div.sbks1 div.psd_data_type1 {
	margin-top: 10px;
	background: none;
}
div.sbks1 span.item_title {
	height: 50px;
	font-size: 1em;
}
div.sbks1 span.item_value {
	font-size: 2.3em;
	padding: 0 0 0 30px;
}



/*
sbks donut

*/

/*sbk-s-01*/
div.sbks1 div.url_donut_system {
	background: #334;
}
div.sbks1 div.svg_donut_system {
	text-align: left;
}

div.sbks1 div.sbks_donut {
	width: 10px;
	height: 180px;
}





/*


portlet_block_number


*/
div.portlet_block_number div.content {
}
div.portlet_block_number div.portlet_content {
	text-align: center;
}

div.portlet_block_number div.portlet_content > div {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.portlet_block_number div.block {
	padding: 35px 15px;
}

.portlet_block_number div.block div.plate > span {
	display: block;
}
.portlet_block_number div.block span.number {
	font-size: 3em;
}
.portlet_block_number div.block span.title {
	font-size: 1em;
}
.portlet_block_number div.block span.more {
	padding: 20px 0 0 0;
	font-size: .8em;
	color: rgba(255,255,255,.3);
}

.portlet_block_number .block_color_a1 {
	color: #0fa;/*#0fa*/
	background: rgba(150,150,255,.2);
}
.portlet_block_number .block_color_a2 {
	color: #ff0;/*#0af*/
	background: rgba(255,150,0,.3);
}


div.portlet_block_number.pbn_harvesting:hover,
div.portlet_block_number.pbn_loosefruit:hover,
div.portlet_block_number.pbn_paid:hover,
div.portlet_block_number.pbn_variance:hover,
div.portlet_block_number.pbn_ffb:hover,
div.portlet_block_number.pbn_ffb_details:hover {
	cursor: pointer;
}



/*


modal


*/

.modal-content.override {
	background: #112;
	border: 1px solid #fff;
}

.modal-content.override .btn_ok {
	padding: 10px 20px 20px;
	text-align: right;
}



/*


portlet_hi (Harvesting Information)


*/
div.portlet_hi div.content {
	background: #252237; /*252237*/
}

div.portlet_hi #hi1{
	/*margin: 30px 20px 0 20px;*/
	height: 260px;
}
div.portlet_hi #highcharts-ht1,
div.portlet_hi #highcharts-ht2,
div.portlet_hi #highcharts-ht3{
	margin-top: 10px;
}

div.portlet_hi div.block_plate {
	/*margin-top: 20px;*/
}

div.portlet_hi div.block_plate div.block {
	/*height: 120px;*/
	margin: 10px;
	padding: 15px;
}

div.portlet_hi div.block_plate div.block span.number {
	font-size: 1.5em;
	display: block;
	text-align: center;
}
div.portlet_hi div.block_plate div.block span.title {
	font-size: 1.1em;
	display: block;
	text-align: center;
}


div.portlet_hi div.block_plate div.block.block_a1 span.number1 {
	 border-top: 3px solid #2255BC;
 }
div.portlet_hi div.block_plate div.block.block_a1 span.number2 {
	border-top: 3px solid #0c9;
}
div.portlet_hi div.block_plate div.block.block_a1 span.number3 {
	border-top: 3px solid #0D8ABC;
}
div.portlet_hi div.block_plate div.block.block_a2 span.number {
	border-top: 3px solid #f50;
}
div.portlet_hi div.block_plate div.block.block_a3 span.number {
	border-top: 3px solid #0c9;
}

div.portlet_hi div.block_plate div.block.block_b2 span.number {
	border-top: 3px solid #f0f;
}
div.portlet_hi div.block_plate div.block.block_b3 span.number {
	border-top: 3px solid #00f;
}
div.portlet_hi div.block_plate div.block.block_b4 span.number {
	border-top: 3px solid #49497b;
}



/*portlet_eap (Estate Age Profile)*/

div.portlet_eap div.portlet_content {
}

/*.portlet_eap div.chart {*/
	/*padding: 35px 0 5px;*/
/*}*/

.portlet_eap div.block {
	padding: 5px 15px;
}

.portlet_eap div.block div.plate > span {
	display: block;
}
.portlet_eap div.block.block_left span.title {
	font-size: .8em;
	vertical-align: middle;
	padding: 10px 5px 5px;
}
.portlet_eap div.block.block_left span.number {
	font-size: 2em;
	vertical-align: middle;
	padding: 0 20px;
}
.portlet_eap div.block.block_right span.title {
	text-align: right;
	font-size: .8em;
	vertical-align: middle;
	padding: 10px 5px 5px;
}
.portlet_eap div.block.block_right span.number {
	font-size: 2em;
	vertical-align: middle;
	margin-left: 60px;
}
.portlet_eap div.block .plate1 span.number {
	border-left: 3px solid #09f;
}
.portlet_eap div.block .plate2 span.number {
	border-left: 3px solid #0fa;
}
.portlet_eap div.block .plate3 span.number {
	border-left: 3px solid #f50;
}
.portlet_eap div.block .plate4 span.number {
	border-right: 3px solid #f8e731;
}
.portlet_eap div.block .plate5 span.number {
	border-right: 3px solid #0fa;
}
.portlet_eap div.block .plate6 span.number {
	border-right: 3px solid #f50;
}
div.portlet_eap div.content {
	background: #252237;
}

/*portlet_product (Productivity)*/

div.portlet_line_chart div.content,
.portlet_block_number div.content,
div.portlet_outurn div.content{
	background: #252237;
}
.portlet_block_number .block_color_a4 {
	color: #ff0;
}
.highcharts_inside.col2,
.highcharts_inside.col3{
	font-size: 20px;
	margin-top: -7px;
	text-align: center;
}
div.psd_data_type3 {
	padding: 5px 10px !important;
	background: rgba(255,255,255,.30);
}

.m-t-15{
	margin-top: 15px;
}
.m-t-10{
	margin-top: 10px;
}
.m-10{
	margin: 10px;
}
.t-a-left{
	text-align: left;
}
.f-s-25{
	font-size: 25px;
}
.m-l-70{
	margin-left: 70px;
}
.field-danger{
	color: #cd0a0a !important;
}
.field-alert{
	color: #ffc200 !important;
}
div.portlet_table table {
	font-size: .9em;
}
table thead {
	background: #000;
}
div.portlet_table table .col_separation {
	border-right: 2px solid #223;
	text-align: center;
}
div.portlet_table table tbody td {
	border-bottom: 1px solid #669 !important;
}
.background_highlighted{
	padding: 15px;
	background: #262845;
	margin-left: 15px;
	border-radius: 5px;
}

.table-style1 thead th:first-child{
	border-bottom: 2px solid #00ccff;
}
.table-style1 thead th:nth-child(2){
	border-bottom: 2px solid violet;
}
.table-style1 thead th:last-child{
	border-bottom: 2px solid #f05b4f;
}




