

/*____________________________________________
map and plate
--------------------------------------------*/
div#infographic {
	background: #0f0;
}
div#infographic div.ig_plate {
	position: absolute;
}
div#infographic div img{
	margin-top: 120px;
	width: 70%;
	height: 70%;
}
div#infographic div.plate_vector_map_indonesia svg {
	margin-top: 120px;
	width: 71.1%;
}

#dashboard {
	width: 99%;
	padding: 5px 0;
}


/*____________________________________________
float - plate_gis and stats
--------------------------------------------*/

/*setup*/
#float_plate {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}
#plate_vector_map,
#pl_estate,
#pl_region {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*z index*/
#plate_vector_map {
	z-index: 100;
}
#pl_estate > span {
	z-index: 3000;
}
#pl_region > div {
	z-index: 3000;
}


/*	plate_vector_map
*/
#plate_vector_map {
	position: absolute;
}


/*	pl_region
*/
#pl_region span {
	/*display: none;*/
	position: absolute;
	font-size: 1.3em;
	background: #333;
	padding: 0 10px;
	color: rgba(0,255,200,1);
	border: 2px solid rgba(0,255,200,1);
}
#pl_region span.set1 {top: 43%; left: 66%;}
#pl_region span.set2 {top: 33%; left: 27%;}
#pl_region span.set3 {top: 33%; left: 10%;}
#pl_region span.set4 {top: 14%; left: 36%;}
/*#pl_region span.set4 {top: 20%; left: 39%;}*/

/*	pl_estate
*/
#pl_estate span {
	/*display: none;*/
	position: absolute;
	font-size: 1em;
	color: #eef;
	text-shadow:
	-1px -1px 0 rgba(0,0,255,.3),  
	1px -1px 0 rgba(0,0,255,.3),
	-1px 1px 0 rgba(0,0,255,.3),
	1px 1px 0 rgba(0,0,255,.3);
}
#pl_estate span.set1 {top: 67.5%; right: 75.5%;}
#pl_estate span.set2 {top: 66.5%; left: 43.0%;}
#pl_estate span.set3 {top: 53.5%; left: 40.5%;}
#pl_estate span.set4 {top: 58.0%; right: 64.5%;}
#pl_estate span.set5 {top: 31.0%; right: 62.5%;}
#pl_estate span.set6 {top: 26.5%; right: 63.5%;}
#pl_estate span.set7 {top: 8.0%; left: 37.5%;}


/*button for Harvesting detail*/
div#float_plate div#plate_commercial div.barchart #barcom_harvested_detail {
	position: absolute;
	width: 100px;
	height: 35px;
	right: 0;
	top: 205px;
	z-index: 200;
}



/*____________________________________________
float - furniture
--------------------------------------------*/

div#barcom_variance {
	height: 200px;
}

div#barcom_harvested {
	height: 200px;
}











/*






OVERRRIDE





*/




/*
body

*/

body {
	overflow: hidden !important;
}



/*
svg nav

*/

.goto_region:hover {
	cursor: pointer;
}


/*
overall panel

*/

#plate_commercial div.overall div.barchart_group {
	display: inline-block;
}

#float_plate .overall {
	display: block;
	position: absolute;
	/*right: 10px;*/
	left: 20px;
	top: 40px;
	width: 100%;
	height: 100%;
}

#float_plate .barchart_group {
	width: 32%;
	height: 35%;
	background: rgba(0,0,0,.3);
}

#float_plate .barchart_group.table_group_1 {
	position: absolute;
	width: 42%;
	height: 220px;
	left: 27%;
	top: 35%;
	background: rgba(0,0,0,.3);
}

#float_plate .barchart_group .title1 {
	background: rgba(255,255,255,.5);
	color: #000;
	padding: 2px 15px;
	font-size: 1.2vw;
}

#float_plate .barchart_group .title2 {
	color: #ccc;
	padding: 2px 15px;
	font-size: .9vw;
}

#float_plate div.barchart_group div.barchart_lr {
	display: inline-block;
}

#float_plate .barchart_group .barchart_left,
#float_plate .barchart_group .barchart_right  {
	width: 49%;
	padding: 5px 15px;
}
#float_plate .barchart_group .barchart_left {
}
#float_plate .barchart_group .barchart_right {
}


/*barchart*/
div.barchart_group div.barchart_lr div.barchart > div {
	position: absolute;
	width: 15%;
	height: 22%;
}
div.barchart_group div.barchart_lr div.barchart div.highcharts-container {
	background:none;!important;
	z-index: 999!important;
}


/*table*/
div.barchart_group table thead {
	background: #224;
	font-size: .7em;
}
div.barchart_group table tbody {
	font-size: .7em;
}
div.barchart_group table thead tr:first-child th:first-child{
	border-bottom: 1px solid #224;
}
div.barchart_group table thead tr th{
	border: 1px solid #558;
}


/*status*/
div.status_group {
	position: absolute;
	width: 15%;
	top: 28%;
	text-align: center;
}
div.status_group div.status {
	display: inline-block;
	text-align: center;
}

	div.status_group div.status_l,
	div.status_group div.status_c,
	div.status_group div.status_r {
		background: #333;
		width: 32%;
	}

div.status_group span {
	display: inline-block;
}

div.status_group span.title {
	background: #002;
	font-size: .7vw;
}
div.status_group span.value {
	background: #448;
	font-size: 1.2vw;
}

div.status_group span.color_down_1 {
	color: #ff0!important;
}
div.status_group span.color_down_2 {
	color: #f70!important;
}
div.status_group span.color_down_3 {
	color: #f05!important;
}

/*legend*/
#plate_commercial div.legend {
	position: absolute;
	top: -35px;
	left: 20%;
}
#plate_commercial div.legend div,
#plate_commercial div.legend div span {
	display: inline-block;
}
#plate_commercial div.legend div {
	padding: 0 10px;
}
#plate_commercial div.legend div span.icon {
	padding: 0 5px 0 0;
}

#plate_commercial .legend .budget span.icon {
	padding: 0 5px 0 0;
	color: #09f;
}
#plate_commercial .legend .target span.icon {
	padding: 0 5px 0 0;
	color: #0ff;
}
#plate_commercial .legend .actual span.icon {
	padding: 0 5px 0 0;
	color: #c0c;
}





img.flex_size {
	/*margin-top: -20px;*/
	width: 100%;
	height: 100%;
}




div#float_plate.gis_indonesia div#plate_commercial {
	
}
div#float_plate.gis_indonesia div#plate_commercial div.barchart div.barcom {
}




/*

barchart_group_5

*/
#float_plate .barchart_group.barchart_group_5 {
	position: absolute;
	right: 3.5%;
	top: 36%;
	width: 32%;
	height: 50%;
	background: rgba(0,0,0,.3);
}




/*
for variance
*/

div#float_plate.gis_indonesia div#plate_commercial div.barchart #barchart3 {
	z-index: 999;
	position: absolute;
	width: 24%;
	height: 40%;
	left: 1%;
	bottom: 1%;
}
div#float_plate.gis_indonesia div#plate_commercial div.barchart #barchart2 {
	z-index: 999;
	position: absolute;
	width: 24%;
	height: 40%;
	left: 26%;
	bottom: 1%;
}
div#float_plate.gis_indonesia div#plate_commercial div.barchart #barchart1 {
	z-index: 999;
	position: absolute;
	width: 24%;
	height: 40%;
	left: 51%;
	bottom: 1%;
}
div#float_plate.gis_indonesia div#plate_commercial div.barchart #barchart4 {
	z-index: 999;
	position: absolute;
	width: 24%;
	height: 40%;
	left: 76%;
	bottom: 1%;
}

div#float_plate.gis_indonesia div#plate_commercial div.barchart span#barcom_harvested_detail {
	z-index: 99999;
}




div.gis_indonesia div#plate_commercial div.barcom{
	border-top: 10px solid #446;
	border-left: 1px solid #446;
	border-right: 1px solid #446;
	background: rgba(0,0,0,.55);!important;
	border-radius: 4px;
}




#v_estate_1 {
	fill:#0f0!important;
	stroke-width:5px!important;
	stroke:#000!important;
}
#v_estate_2 {
	fill:#f50!important;
	stroke-width:5px!important;
	stroke:#000!important;
}
#v_estate_3 {
	/*fill:#ff0!important;*/
	stroke-width:5px!important;
	stroke:#f00!important;
}
#v_estate_4 {
	fill:#f50!important;
	stroke-width:5px!important;
	stroke:#000!important;
}
#v_estate_5 {
	fill:#f50!important;
	stroke-width:5px!important;
	stroke:#000!important;
}
#v_estate_6 {
	fill:#0f0!important;
	stroke-width:5px!important;
	stroke:#000!important;
}
#v_estate_7 {
	fill:#0f0!important;
	stroke-width:5px!important;
	stroke:#000!important;
}


#legend_v_estate_1 {
	/*fill:#ff0!important;*/
	stroke-width:5px!important;
	stroke:#f00!important;
}
#legend_v_estate_2 {
	fill:#f50!important;
	stroke-width:5px!important;
	stroke:#334!important;
}
#legend_v_estate_3 {
	fill:#0f0!important;
	stroke-width:5px!important;
	stroke:#334!important;
}

#v_estate_1:hover
#v_estate_2:hover,
#v_estate_3:hover,
#v_estate_4:hover,
#v_estate_5:hover,
#v_estate_6:hover,
#v_estate_7:hover {
	cursor: pointer;
}



























